<style>
  .buttons {
    display:flex;
    justify-content: flex-end;
    gap: 1vw;
    align-items: center;
  }
</style>

<div class='container' style='margin-top:10vh'>
  <%= render @task %>

  <div class='buttons'>
    <%= link_to "Edit this task", edit_task_path(@task), class:"btn btn-dark"%>
    <%= link_to "Back to tasks", tasks_path, class:"btn btn-dark"%>

    <br></br>
    <%= button_to "Delete this task", @task, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
